@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::selection {
    background-color: #000;
    color: red;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    background-color: #eee;
    position: fixed;
    z-index: 9999;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    display: flex;
}

.logo {
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 28.8px;
    text-transform: uppercase;
}

.logo::first-letter {
    color: black;
}

.nv a {
    padding-left: 20px;
    color: red;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: 0.7s;
}

.nv a:hover {
    color: #000;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../css/pexels-riccardo-bertolo-4245826.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #fff;
    font-size: 22.4px;
    font-weight: 500;
}

.main h2 span {
    font-size: 48px;
    color: red;
    font-weight: 600;
    display: inline-block;
    margin: 20px 0;
}

.main h3 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 18px;
    background-color: red;
    color: #fff;
    padding: 15px 34.992px;
    display: inline-block;
    margin-bottom: 40px;
    letter-spacing: 1px;
    transition: 1s;
}

.main-btn:hover {
    transform: scale(1.1);
    background-color: #8a0505;
}

.social-icons a {
    color: #fff;
    font-size: 27.2px;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: red;
    font-size: 35.2px;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 340px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    text-align: center;
    transition: 0.7s;
}

.icon {
    font-size: 40px;
    color: red;
}

.info h3 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.info p {
    font-size: 20px;
}

.card:hover {
    transform: scale(1.1);
}

.projects {
    background-color: #001846;
}

.projects .content {
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px white solid;
    border-radius: 10px;
    min-height: 224px;
    width: 363px;
    overflow: hidden;
    margin: 20px;
    transition: 0.7s;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
}

.project-image img {
    width: 100%;
    border-bottom: #ff0000 solid 2px;
}

.project-info {
    padding: 16px;
}

.project-category {
    font-size: 12.8;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: red;
}

.more-details:hover {
    color: black;
}

.projects .title {
    color: #b34747;
}

footer {
    background-color: #410000;
    display: flex;
    justify-content: space-between;
    color: lightblue;
    height: 50px;
    padding-top: 10px;
}

@media (max-width:1023px) {
    header {
        padding: 8px 10px;
    }

    .nv a {
        padding-left: 10px;
    }

    .title {
        font-size: 1.8em;
    }

    section {
        padding: 80px 20px;
    }

    .main-content h2 {
        font-size: 16px;
    }

    .main-content h3 {
        font-size: 1.6em;
    }
}